/* #3E373F
#C4C5C1
#89A38F
#6C8580
#ACC190 */

:root {
    --bg-color: rgb(233, 233, 233);
    --main-color:#C4C5C1 ;
    --accent-color: #51574e;
    --accent-hover-color: #817383;
    --header-color:#6C8580;
    --button-color:#0e868f;
}

body, button{
    background-color: var(--bg-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.2px;
    font-size: calc(0.5rem + 1vw);
}

/* addditional css styling for bootstrap filter buttons */
.btn-dark {
    color: var(--accent-hover-color);
    background-color: var(--main-color);
    border: 1px solid var(--accent-color);
}

.collapse,.col {
    display: flex;
}
/* ----------TEXT PADDING & MARGINS-------------- */
.textpadding {
    padding: 2em 4em;
}

.textpadding h1,h2,h3,h4,h5,p {
    margin: 1em 0;
}

/* ----------NAVBAR-------------- */
.navbar {
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px darkgray;
    margin: 1em 0;
  }
#logoContain {
    position: relative;
    left: 2em;
}
#logoContain a {
    color: var(--bg-color);
    letter-spacing: 0.1em;
    font-size: x-large;
    font-weight: 600;
    text-shadow: 2px 2px grey;
}
.navbar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.3em;
    box-shadow: 1px 1px 1px grey;
}
.navbar-toggler,.navbar-nav {
    margin-right: 2em;
    margin-left: auto;
    text-align: right;
    color: var(--main-color);
}
.navbar-nav a {
    color: var(--main-color);
    text-decoration: none;
}

.navbar-nav > li .active {
    font-weight: 800;
}
.navbar-nav > li > a:active {
    font-weight: 1000;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: var(--bg-color);
    font-weight: 600;
}
#loginbtn button, #signupbtn button {
    width: calc(4rem + 1vw);
    height: calc(2rem + 0.5vh);
    color: var(--bg-color);
    background-color: var(--button-color);
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 300;
}
#loginbtn button:hover, #signupbtn button:hover {
    background-color: var(--accent-hover-color);
    font-weight: 600;
}


/* ----------HEROHOME------------------------ */
.heroContain { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 400px;
}

#herohmContain {
    background-image: url(../images/herohm.jpg);
}

.herohmtext {
    color: var(--main-color);
}

/* ----------TALENT FILTER------------------------ */
#talentfilters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ----------GENERIC FORM STYLES------------------------ */
.formContain {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

label {
    text-align: left;
    font-size: smaller;
    margin: 0.7em;
}

 fieldset a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
    font-size: smaller;
}

.formfield,button.formbutton, .btnformfield {
    width: 60vw;
    height: 6vh;
}

.formContain h1,h2,h3,h4,h5 {
    margin: 0;
}

button.formbutton {
    color: var(--bg-color);
    background-color: var(--header-color);
    border: 1px solid var(--header-color);
    font-size: smaller;
}

button.formbutton:hover,  fieldset a:hover {
    background-color: var(--accent-color)
}

/* ----------MEDIA QUERY------------------------ */
/* adjusting hero text max width for larger screens */
@media screen and (min-width:500px) {
.heroContain > div {
    max-width: 65vw;
}
}
    